<div class="row">
    
  <div class="col-md-3">
    <h3><%= @place.name %></h3>
    <p>
      <strong>Address</strong>
      <%= @place.name %>
    </p>
    <p>
      <strong>Phone</strong>
      <%= @place.phone %>
    </p>
    <p>
      <strong>Website</strong>
      <%= @place.website %>
    </p>
    <p>
      <strong>Description</strong>
      <%= @place.description %>
    </p>

    <div id="map-canvas" style="width: 430px; height:430px"></div>
  </div>
  
  
  <div class="col-md-9">
    <h3>Reviews by People</h3>
    
  </div>
</div>




<script type="text/javascript">

  var map;
  var myCenter = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

  function initMap() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: myCenter,
      zoom: 16
    });
    var marker = new google.maps.Marker({
      position: myCenter, 
      map: map, 
    });
  }
</script>